<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.ladaube"
      android:versionCode="1"
      android:versionName="1.0">
    <application android:label="LaDaube" android:icon="@drawable/icon">
        <activity android:name="LaDaubeActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LaDaubeActivity" android:label="LaDaube"/>
        <activity android:name=".ArtistsActivity" android:label="Artists"/>
        <activity android:name=".AlbumsActivity" android:label="Albums"/>
        <activity android:name=".TracksActivity" android:label="Tracks"/>
        <activity android:name=".PlaylistsActivity" android:label="Playlists"/>
    </application>
</manifest> 
