<?xml version="1.0" encoding="utf-8"?>
<jnlp
    spec="1.0+"
    codebase="http://88.190.205.177:8080/ladaube/webstart/"
    href="$outputFile">
  <information>
    <vendor>LaDaube</vendor>
    <title>LaDaube Uploader</title>
    <homepage href="http://88.190.205.177:8080/ladaube"/>
    <description kind="one-line">LaDaube mass upload tool.</description>
    <description kind="short">Allows to upload your local mp3s to your LaDaube account.
                   Blah blah.</description>
    <description kind="tooltip">Tooltip Description</description>
    <icon
      width="35"
      height="26"
      href="images/headphones.gif"/>
    <icon
      kind="splash"
      href="images/banner.jpg"/>
  </information>
  <security>
     <all-permissions/>
  </security>
  <resources>
    <j2se version="1.6+"
     initial-heap-size="32m"
     max-heap-size="128m"
     />
     $dependencies
  </resources>
  <application-desc main-class="$mainClass">
    <argument>1</argument>
    <argument>2</argument>
  </application-desc>
</jnlp>